.body {
    background-color: #88B14B!important;
}
.bottom-cta {		
 	background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%);		
 	color: #fff;		
 	text-align: center;		
 	margin: 0;		
 	padding: 100px 0;		
  		  
h1 {		
 		margin-bottom: 0px;
 		font-size: 1.7em;
 	}	
 	
.logo {
    width: 20px;
}
}		
  
 .container2 {
     
     width: 50%;
     margin: 0 auto;
     margin-bottom: -30px ;
 }
.testimonial {		
 	background: linear-gradient(to bottom, $middle-gradient-color 0%, $secondary-brand-color 100%) no-repeat #a05fb7;		
 	margin: 0;		
	padding: 10px 0;		
 	
 .testimonial-block {		
    max-width: 750px;		
 	width: 98%;		
	margin: 0 auto;

		@media #{$tablet} {

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.hero {
	color: #ffffff;
	text-align: center;
	padding-top: -100px;
	background: linear-gradient(to bottom, $middle-gradient-color 0%, $secondary-brand-color 100%) no-repeat #a05fb7;
	height: 100%;
	font-size: 60px!important;

p {
		color: #fff;
		font-size: 18px;
	}
}


@media #{$desktop} {
	.flex {
		margin: 0 auto;
		width: 20%;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		flex-basis: 50%;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 50px;
margin: 0 auto;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}
