$brand-color: #88B14B;
$secondary-brand-color: #88B14B;
$middle-gradient-color: #88B14B;

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
